@charset "UTF-8";

/* Reset */

*, *::before, *::after { box-sizing: border-box }
body { min-height: 100vh; min-height: 100svh; }
body, h1, h2, h3, h4, p, figure, blockquote, dl, dd, ul, ol { margin: 0; }
img, picture { max-width: 100%; display: block }
input, button, textarea, select { font: inherit }

/* Measure and leading setup */

:root
{ font-size: 100%;
  --leading_ratio_m: 1.5; /* leading / font size */
  --leading_m: calc(var(--leading_ratio_m) * 1rem);
  --measure_m: 72ch;

  --sp_xxs: calc(0.485 * var(--leading_m));
  --sp_xs: calc(0.618 * var(--leading_m));
  --sp_s: calc(0.786 * var(--leading_m));
  --sp_m: var(--leading_m); }

* { max-inline-size: var(--measure_m) }
html, body, div, header, nav, main, footer { max-inline-size: none }
body { line-height: var(--leading_ratio_m); }

/* Font */

:root
{ font-synthesis: none;
  -webkit-text-size-adjust: none;
  --font_headings: -apple-system, BlinkMacSystemFont, "Segoe UI",
                   Roboto, Oxygen-Sans, Ubuntu, Cantarell,
                   "Helvetica Neue", sans-serif;
  --font_body: var(--font_headings);
  --font_mono: monospace;
  --font_mono_ratio: 1; /* mono size / font body size */  }

body
{ font-family: var(--font_body); font-size: 1rem; font-weight: 400;
  display: flex; flex-direction: column;
  max-inline-size: var(--measure_m);
  padding: calc(1.5 * var(--leading_m));
  margin-inline: auto; }

body > * + * { margin-block-start: var(--sp_s); }

/* Inlines */

em { font-style: italic }
b, strong { font-weight: 700 }

sup { font-feature-settings: "sups";
      font-size: inherit; vertical-align: baseline }

sub { font-feature-settings: "subs";
      font-size: inherit; vertical-align: baseline }

code { font-family: var(--font_mono);
       font-size: calc(1em * var(--font_mono_ratio)); }

/* Headings */

h1, h2, h3, h4, h5, h6 { font-family: var(--font_headings); font-weight: 700}
h1 { font-size: 2rem }
h2 { font-size: 1.5rem; font-weight: 200; }
